<div class='panel panel-default'>
    <div class='panel-body'>
      <h4>
        <%= inline_svg('icon_generic.svg', size: '36px * 36px', preserve_aspect_ratio: 'xMaxYMax meet')%>
        &nbsp;Altri Servizi&nbsp;<strong id='text-primary'>&nbsp;<%=  fa_icon('list') %>&nbsp;Elenco Sottoscrizioni:</strong>
      </h4>
      <hr id='hr-grey'>
        <table class='table table-striped table-hover'>
          <thead>
            <tr>
              <th></th>
              <th>Numero:</th>
              <th>Data:</th>
              <th>Nome:</th>
              <th>Codice Fiscale</th>
              <th>Categoria:</th>
              <th>Ammontare</th>
              <th>Note:</th>
            </tr>
          </thead>
          <tbody>
            <% @generic_subscriptions.each do |generic_subscription| %>
            <tr>
              <td>
                <% if current_user.institute != 'Ufficio Amministrazione'  %>
                <%= link_to fa_icon('pencil'), edit_generic_subscription_path(generic_subscription), id: 'text-warning' %>
                <% end %>
              </td>
              <td>
                <% if generic_subscription.cancellation_id == nil %>
                  <%=link_to generic_subscription.name, generic_subscription, class: 'btn btn-default btn-xs' %>
                <% else %>
                  <%=link_to generic_subscription.name, generic_subscription, class: 'btn btn-primary btn-xs' %>
                <% end %>
              </td>
              <td>
                <%= generic_subscription.date.strftime('%d/%m/%Y') %>
              </td>
              <td>
                <%= generic_subscription.customer_name %>&nbsp;<%= generic_subscription.customer_forname %>
              </td>
              <td>
                <%= generic_subscription.customer_fiscal_code %>
              </td>
              <td>
                  <%= generic_subscription.category.name %>
              </td>
              <td>
                <%= number_to_currency(generic_subscription.payment) %>
              </td>
              <td>
                <%= truncate(generic_subscription.note, length: 35) %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= will_paginate @generic_subscriptions, :previous_label => t("precedente"), :next_label => t("prossimo"), renderer: BootstrapPagination::Rails %>
    </div>
  </div>
  <div id='text-centered'>
    <h6>
      <small>
        <p id='notice'>
          <%= notice %>
        </p>
      </small>
    </h6>
  </div>
